.root {
    -fx-background-color: linear-gradient(to bottom right, #111827, #1f2937);
}

.card {
    -fx-background-color: #1f2937;
    -fx-border-color: #374151;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.label-title {
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.label-sub {
    -fx-text-fill: #9ca3af;
}

.text-field {
    -fx-background-color: #374151;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #9ca3af;
}

.button-primary {
    -fx-background-color: linear-gradient(to right,#6366f1, #8b5cf6);
    -fx-text-fill: white;
}

.theme-toggle {
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

.theme-toggle:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}