.root {
    -fx-background-color: #f3f4f6;
}

.card {
    -fx-background-color: white;
    -fx-border-color: #d1d5db;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.label-title {
    -fx-text-fill: #111827;
}

.label-sub {
    -fx-text-fill: #6b7280;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.button-primary {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
}